@font-face{
    font-family:'king_cool_kc';
    font-style:normal;
    font-weight:700;
    src:local('king_cool_kc'),local('king_cool_kc'),
    url(../fonts/XQmJHE2Opg5t.woff) format('woff'),
    url(../fonts/9IpE6CgDJKHD.ttf) format('truetype');
} 
